h6 {
  font-size: 1rem;
  margin-block-start: 0;
  margin-block-end: 0;
  color: #8f9bb3;
  font-weight: bold;
}

.project-item {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding-bottom: 12px;
}

.project-details {
  display: flex;
  flex-direction: column;
}

.project-icon {
  max-width: 204px;
}

.project-name {
  display: inherit;
  flex-direction: column;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: bold;
  justify-content: center;
}

.project-desc,
.project-task,
.project-tech {
  padding-bottom: 12px;
}

.default-color {
  color: var(--p-card-color);
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
