footer {
    text-align: right;
}

.min-card {
  min-width: 640px;
}

.grid-container {
  padding: 0 10%;
  max-width: 2560px;
}

@media screen and (min-width: 1280px) {
    .min-card  {
        min-width: 0;
    }
}
