
<div class="grid grid-cols-12 gap-8 mx-auto grid-container">
    <p-card class="col-span-12 3xl:col-span-6 min-card card-no-padding">
      <ps-main-image/>
    </p-card>
    <p-card class="col-span-12 3xl:col-span-6 min-card">
      some content 2
    </p-card>
    <p-card class="col-span-12 3xl:col-span-6 min-card">
      some content 3
    </p-card>
    <p-card class="col-span-12 3xl:col-span-6 min-card">
      some content 4
    </p-card>
    <footer class="col-span-12">
      Copyright&nbsp;©&nbsp;2026&nbsp;Paweł&nbsp;Serafin
    </footer>
</div>


