<table>
  <tbody>
    <tr>
      <td class="col-date highlighted">2002 – 2007</td>
      <td>
        <b>Master of Science. University of Maria Curie-Skłodowska in Lublin</b><br>
        <span>Specialization: Computer science</span>
      </td>
    </tr>

    <tr>
      <td class="col-date highlighted">2006 – 2007</td>
      <td>
        <b>Bachelor of Economics. University of Maria Curie-Skłodowska in Lublin</b><br>
        <span>Specialization: Economy</span>
      </td>
    </tr>
  </tbody>
</table>
