<p-stepper [value]="activeStep">
  @for(item of experience(); track item.company; let i = $index ) {
    <p-step-item [value]="i+1">
        <p-step>{{item.company}} ({{item.date}})</p-step>
        <p-step-panel>
            <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col w-full">
                    <div class="p-card p-4 w-full">
                      <ps-main-stepper-list [data]="item.projects" [position]="item.position" [icon]="item.icon"/>
                    </div>
                </div>
                <div class="py-5 gap-2">
                  @if (i > 0) {
                    <button type="button" pButton severity="secondary" (click)="activateCallback(i)">Back</button>
                  }
                  @if (i < experience().length - 1) {
                    <button type="button" pButton (click)="activateCallback(i+2)">Next</button>
                  }
                </div>
            </ng-template>
        </p-step-panel>
    </p-step-item>
  }
</p-stepper>
